
p {
  margin-left: 8px;
}

.mat-card {
  width: 90%;
  margin: 1rem auto;
}

.container {
  vertical-align: top;
  line-height: 24px;
  display: inline-block;
}

.top-right {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
