<mat-card>
  <p class="mat-body-2" align="center">Log in</p>

  <mat-form-field
    color="accent">
    <input matInput type="text" placeholder="Email"/>
  </mat-form-field>
  <mat-form-field
    color="accent">
    <input matInput type="password" placeholder="Password" />
  </mat-form-field>
  <button class="button-main" mat-raised-button color="accent">Login</button>

  <button class="button-secondary" mat-button color="accent">Forgotten your password?</button>

  <div class="sign-up">
    <p>Don't have an account? <button class="button-secondary" mat-button color="accent" >Sign up</button></p>

  </div>

</mat-card>
