
.container {
  padding-bottom: 3rem;
  margin: auto;
  width: 100%;
  height: 88vh !important;
  background-color: white;
}

.side-nav-bar {
  height: 100%;
  width: 20%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 2rem;
}

.side-nav-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

.mat-button {
  text-align: left;
  margin-bottom: 0.5rem;
}

.side-nav-content, .mat-sidenav-content {
  margin: auto;
  background-color: transparent;
}


.mat-nav-list mat-list-item.active {
  font-weight: bold;
  color: #ff4081;
}

.item-icon {
  margin: 10px;
}

.sub-outlet {
  width: 100%;
  margin: auto;
}
