<mat-toolbar class="toolbar" color="white">
  <span>
    <a (click)="sendEvent(toolbarNavigationValue.browse)">
      <button mat-fab color="accent" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
    </button>
    </a>
  </span>

  <div class="spacer"></div>

  <a (click)="sendEvent(toolbarNavigationValue.settings)" *ngIf="isAuthenticated()" class="tollbarbuttons"
     color="accent">
    <button mat-stroked-button>
      <mat-icon color="accent">settings</mat-icon>
    </button>
  </a>
  <a (click)="sendEvent(toolbarNavigationValue.login)" *ngIf="!isAuthenticated()" class="tollbarbuttons" color="accent"
     mat-stroked-button>log in</a>
  <a (click)="sendEvent(toolbarNavigationValue.register)" *ngIf="!isAuthenticated()" class="tollbarbuttons"
     color="accent" mat-stroked-button>sign up</a>
  <a class="tollbarbuttons" *ngIf="isAuthenticated()" color="accent" mat-stroked-button (click)="logout()">Logout</a>
</mat-toolbar>
