<mat-toolbar color="white" class="mat-elevation-z8 toolbar">
  <span>
    <a (click)="home()">
      <button mat-fab color="accent" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
    </button>
    </a>
  </span>

  <div class="spacer"></div>

  <a class = "tollbarbuttons" *ngIf="isAuthenticated()" color="accent" mat-stroked-button (click)="account()">account</a>
  <a class = "tollbarbuttons" *ngIf="!isAuthenticated()" color="accent" mat-stroked-button (click)="openLoginDialog()">log in</a>
  <a class = "tollbarbuttons" *ngIf="!isAuthenticated()" color="accent" mat-stroked-button (click)="openSignupDialog()">sign up</a>
  <a class="tollbarbuttons" *ngIf="isAuthenticated()" color="accent" mat-stroked-button (click)="logout()">Logout</a>
</mat-toolbar>
